@page {
	size: A4 portrait;
	margin: 1cm;
}

.pagedjs_page {
	--page-content-height: calc(var(--pagedjs-pagebox-height) - var(--pagedjs-margin-top) - var(--pagedjs-margin-bottom));
	--page-content-width: calc(var(--pagedjs-pagebox-width) - var(--pagedjs-margin-left) - var(--pagedjs-margin-right));
	--headline-height: calc(var(--page-content-height) * 0.1);
	--page-split: calc(var(--page-content-width) * 0.3);
}

.pagedjs_page .headline {
	text-align: center;
	margin: 1em 0;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: 0.8em;
}

h1, h2, h3 {
	font-family: "Space Grotesk";
	color: grey;
}

h1, h3, h4 {
	font-weight: 500;
}

h2 {
	font-weight: 300;
}

h5 {
	font-weight: 400;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

.pagedjs_page .base-container {
	margin: 0;
	margin-bottom: 2em;
	font-family: "Jost";
	font-weight: 250;
	font-size: 1em;
}

.pagedjs_page .column {
	float: left;
}

.pagedjs_page .left {
	width: 30%;
}

.pagedjs_page .right {
	position: relative;
	width: 68%;
	margin-left: 2%;
}

.pagedjs_page .row::after {
	content: '';
	display: table;
	clear: both;
}

.pagedjs_page .left ul {
	padding-left: 2em;
}

.pagedjs_page .left .education li {
	margin-bottom: 1em;
}

.education .time-span {
	position: relative;
}

ul.icon--close > li, ul.icon--far > li {
	position: relative;
	list-style-type: none;
}

ul.icon--close > li::before, ul.icon--far > li::before {
	content: '';
	position: absolute;
	top: calc((1lh - 1rem) * 0.5);
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background-image: url('/images/arrow.svg');
	background-size: cover;
}

ul.icon--close > li::before {
	left: -1.2rem;
}

ul.icon--far > li::before {
	left: -2rem;
}

.pagedjs_page .projects .head {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 1em;
}

.right-align {
	margin-right: 0;
	margin-left: auto;
}

.h5-wrapper {
	height: 1lh;
	display: flex;
	align-items: center;
}

.icon--close, .icon--far {
	position: relative;
}

.icon--close::before, .icon--far::before {
	content: '';
	position: absolute;
	top: calc((1lh - 1rem) * 0.5);
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background-size: cover;
}

.icon--close::before {
	left: -1.2rem;
}

.icon--far::before {
	left: -2rem;
}

ul > li.icon--phone::before {
	background-image: url('/images/phone.svg');
}

ul > li.icon--email::before {
	background-image: url('/images/mail.svg');
}

ul > li.icon--github::before {
	background-image: url('/images/github.svg');
}

ul > li.icon--address::before {
	background-image: url('/images/location.svg');
}

ul > li.icon--calendar::before {
	background-image: url('/images/calendar.svg');
}

.icon--arrow::before {
	background-image: url('/images/arrow.svg');
}

ul > li.icon--prompt::before {
	background-image: url('/images/prompt.svg');
}

.icon--team::before {
	background-image: url('/images/team.svg');
}

.icon--time::before {
	background-image: url('/images/time.svg');
}

.projects .head .time {
	margin-left: 2rem;
}

.projects .head .team {
	margin-left: 2rem;
}

.pagedjs_page .projects .description {
	margin-top: 0;
}

.right ul {
	padding-left: 2em;
}

li {
	position: relative;
	list-style-type: none;
}

li::before {
	content: '';
	position: absolute;
	top: calc((1lh - 1rem) * 0.5);
	left: -1.2rem;
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background-image: url('/images/arrow.svg');
	background-size: cover;
}

@font-face {
	font-family: "Jost";
	font-style: normal;
	src: url(/fonts/jost/Jost-VariableFont_wght.ttf) format("truetype");
}

@font-face {
	font-family: "Space Grotesk";
	font-style: normal;
	src: url(/fonts/space-grotesk/SpaceGrotesk-VariableFont_wght.ttf) format("truetype");
}
