@page {
	size: A4 portrait;
	margin: 1cm;
}

.pagedjs_page {
	--page-content-height: calc(var(--pagedjs-pagebox-height) - var(--pagedjs-margin-top) - var(--pagedjs-margin-bottom));
	--page-content-width: calc(var(--pagedjs-pagebox-width) - var(--pagedjs-margin-left) - var(--pagedjs-margin-right));
	--headline-height: calc(var(--page-content-height) * 0.1);
	--page-split: calc(var(--page-content-width) * 0.3);
}

.pagedjs_page .headline {
	text-align: center;
	margin: 1em 0;
}

.pagedjs_page .headline .name {
	font-size: 3em;
}

.pagedjs_page .headline .job-title {
	font-size: 2em;
	font-weight: 300;
}

.pagedjs_page .header {
	font-family: "Space Grotesk";
	font-weight: 500;
	font-size: 1.5em;
	color: grey;
	margin: 0;
}

.pagedjs_page .base-container {
	margin: 1em 0;
	font-family: "Jost";
	font-weight: 250;
}

.pagedjs_page .left .base-container {
	margin-bottom: 3em;
}

.pagedjs_page .right .base-container {
	margin-left: 1em;
}

.pagedjs_page .column {
	float: left;
}

.pagedjs_page .left {
	width: var(--page-split);
}

.pagedjs_page .right {
	position: relative;
	width: calc(var(--page-content-width) - var(--page-split));
}

.pagedjs_page .row::after {
	content: '';
	display: table;
	clear: both;
}

.pagedjs_page .left ul {
	padding-left: 2em;
}

.pagedjs_page .contact li {
	position: relative;
	list-style-type: none;
	display: flex;
	align-items: center;
}

.pagedjs_page .contact li::before {
	content: '';
	position: absolute;
	left: -2em;
	display: inline-block;
	width: 1em;
	height: 1em;
	background-size: cover;
}

.pagedjs_page .contact li.phone::before {
	background-image: url('/images/phone.svg');
}

.pagedjs_page .contact li.email::before {
	background-image: url('/images/mail.svg');
}

.pagedjs_page .contact li.github::before {
	background-image: url('/images/github.svg');
}

.pagedjs_page .contact li.address::before {
	background-image: url('/images/location.svg');
}

.pagedjs_page .left .education ul {
	list-style-type: none;
	padding-left: 0;
}

.pagedjs_page .education .school {
	font-weight: bold;
	font-size: 1.1em;
}

.pagedjs_page .skills .prompt {
	position: relative;
	list-style-type: none;
	display: flex;
	align-items: center;
}

.pagedjs_page .skills li.prompt::before {
	content: '';
	position: absolute;
	top: 0.1em;
	left: -1.2em;
	display: inline-block;
	width: 1em;
	height: 1em;
	background-image: url('/images/prompt.svg');
	background-size: cover;
}

.pagedjs_page .right ul {
	padding-left: 1em;
}

.pagedjs_page .right li {
	position: relative;
	list-style-type: none;
	display: flex;
	align-items: center;
}

.pagedjs_page .right li::before {
	content: '';
	position: absolute;
	top: 0.1em;
	left: -1em;
	display: inline-block;
	width: 1em;
	height: 1em;
	background-image: url('/images/arrow.svg');
	background-size: cover;
}

@font-face {
	font-family: "Jost";
	font-style: normal;
	src: url(/fonts/jost/Jost-VariableFont_wght.ttf) format("truetype");
}

@font-face {
	font-family: "Space Grotesk";
	font-style: normal;
	src: url(/fonts/space-grotesk/SpaceGrotesk-VariableFont_wght.ttf) format("truetype");
}
