@page {
	size: A4 portrait;
	margin: 1cm;

	@top-right {
		content: "dd/mm/yyyy";
	}
}

@font-face {
	font-family: "Jost";
	font-style: normal;
	src: url(/fonts/jost/Jost-VariableFont_wght.ttf) format("truetype");
}

@font-face {
	font-family: "Space Grotesk";
	font-style: normal;
	src: url(/fonts/space-grotesk/SpaceGrotesk-VariableFont_wght.ttf) format("truetype");
}

* {
	font-family: "Jost";
	font-weight: 250;
	font-size: 1rem;
}

h1, h2, h3 {
	font-family: "Space Grotesk";
	color: grey;
}

h1, h3, h4 {
	font-weight: 500;
}

h2 {
	font-weight: 300;
}

h5 {
	font-weight: 400;
}

h1 {
	font-size: 2.4rem;
}

h2 {
	font-size: 1.6rem;
}

h3 {
	font-size: 1.2rem;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: 0.8rem;
}

.base-container {
	margin-top: 0;
	margin-bottom: 2rem;
}

.headline, .sub-container {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.headline {
	text-align: center;
}

.column__left, .column__right {
	float: left;
}

.column__left {
	width: 30%;
}

.column__right {
	width: 68%;
	margin-left: 2%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

h1, h2, h3, h4, h5, p {
	margin: 0;
}

ul {
	padding-left: 0;
	list-style-type: none;
}

ul > ul {
	padding-left: 2rem;
}

li, .icon {
	margin-left: 2rem;
	position: relative;
}

li::before, .icon::before {
	content: "";
	position: absolute;
	top: calc((1lh - 1rem) * 0.5);
	left: -1.5rem;
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background-size: cover;
}

li::before, .icon--arrow::before {
	background-image: url("/images/arrow.svg");
}

.icon--phone::before {
	background-image: url("/images/phone.svg");
}

.icon--email::before {
	background-image: url("/images/mail.svg");
}

.icon--github::before {
	background-image: url("/images/github.svg");
}

.icon--address::before {
	background-image: url("/images/location.svg");
}

.icon--calendar::before {
	background-image: url("/images/calendar.svg");
}

.icon--prompt::before {
	background-image: url("/images/prompt.svg");
}

.icon--team::before {
	background-image: url("/images/team.svg");
}

.icon--time::before {
	background-image: url("/images/time.svg");
}

.h5-wrapper {
	height: 1lh;
}

.flex, .h5-wrapper {
	display: flex;
	align-items: center;
}

.align--right {
	margin-right: 0;
	margin-left: auto;
}

.img42 {
	position: relative;
	width: 1rem;
	height: 1rem;
	top: calc((1lh - 1rem) * 0.5);
}
