@page {
	size: A4 portrait;
	margin: 1cm;
}

.pagedjs_page {
	--pagedjs-content-height: calc(var(--pagedjs-pagebox-height) - var(--pagedjs-margin-top) - var(--pagedjs-margin-bottom));
	--pagedjs-content-width: calc(var(--pagedjs-pagebox-width) - var(--pagedjs-margin-left) - var(--pagedjs-margin-right));

	.headline {
		height: calc(var(--pagedjs-content-height) * 0.1);
		background-color: lightblue;
		padding: 5% 0;
	}

	.profile {
		height: calc(var(--pagedjs-content-height) * 0.3);
		background-color: lightgrey;
		padding: 2cm;
	}
	
	.projects {
		height: calc(var(--pagedjs-content-height) * 0.6);
		background-color: lightgreen;
	}
}

@font-face {
	font-family: "Jost";
	font-style: normal;
	font-weight: 600;
	src: url(/fonts/jost/Jost-VariableFont_wght.ttf) format("truetype");
}

.headline {
	font-family: "Jost";
	font-size: 2em;
	text-align: center;
}

