.pdf {
}

.page {
	background-color: lightblue;
	color: black;
}

.page--size-a4 {
	height: 297mm;
	width: 210mm;
}

@media print {
	.page {
		background-color: black;
		color: lightblue;
	}
}

@page {
	size: A4 portrait;
}
