@page {
  size: A4;
  margin: 0;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  background: rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
}

.page {
  display: inline-block;
  position: relative;
  margin: 2em auto;
  padding: 3em;
  background: white;
}

.page--size-a4 {
  height: 297mm;
  width: 210mm;
}

.page--shadow-yes {
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

.topPanel {
	position: relative;
	height: 33%;
}

.topPanel::after {
	content: "";
	background: #ccc;
	position: absolute;
	bottom: 0;
	left: 10%;
	height: 1px;
	width: 80%;
}

.bottomPanel {
	height: 67%;
}

@media print {
  .page {
    margin: 0;
    overflow: hidden;
  }
}
